@model IEnumerable<zpnet.Models.ksiazka>

@{
    ViewData["Title"] = "Ksiazka";
}

<style>
  .hide{
    visibility: hidden;
  width: 0px;
  border: 0px;
  height: 0px;
}

form {
    display: block;
float: left;
padding-right:5px;
}
</style>
<h1>Lista książek:</h1>
<h5>Ilość książek: @ViewBag.dataLength</h5>
    <a asp-action="Create">
<button asp-controller="ksiazka" asp-action="" class="btn btn-success"> Dodaj nową książkę</button> </a>
   <table class="table">
    <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Autor</th>
                 <th>Ilość przepisów</th>
                 <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                      @Html.DisplayFor(modelItem => item.id) 
                </td>
                <td>
                      @Html.DisplayFor(modelItem => item.nazwa) 
                </td>
                <td>
                      @Html.DisplayFor(modelItem => item.autor.imieNazwisko) 
                </td>
                <td style='text-align:center'>
                        @item.przepisy.Count() 
                </td>
                <td>
                    <div>
         <a asp-action="Edit" asp-route-id="@item.id"><button  class="btn btn-primary"  class="btn btn-primary" >Edytuj</button></a> 
         <a asp-action="szczegoly" asp-route-id="@item.id"><button class="btn btn-success">Wyświetl książkę</button></a>
                      <form asp-action="Delete">
                           <input type="tel" class="hide" name="id" value="@item.id" type="hidden"/> 
                        <input type="submit" value="Usuń" class="btn btn-danger" />  

                    </form>
                </td>
            </tr>
            }
               </tbody>
        </table>

